h2{
    
    color:rgb(255, 236, 67);
    font-size: 45px;
    font-family: 'Audiowide', cursive;
     
    
}
h3{
    
    color:rgb(163, 243, 15);
    font-size: 18px;
    margin:0px;
    
    font-family: 'Audiowide', cursive;
    font-family: 'Anonymous Pro', monospace;
    
}

.botonAdm{
    width: 50%;
    margin-left:25%;
}
.botonUsu {
    width: 50%;
    margin-left:25%;
}


ion-content{
    --background: url(../../assets/img/fondo-2.png);
}

