
        
        <ion-content>
            <h1 text-center> SEGURO QUE QUIERE GUARDAR FOTO</h1>
          <ion-content>
            <ion-img src="/assets/img/rostroid.png"></ion-img>
            <ion-button class="botonSig" expand="round" fill="outline"[routerLink]="['id-cedula']" routerLinkActive="router-link-active"  >Siguiente </ion-button>
            
          </ion-content>
          
        </ion-content></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <h1 text-center>GUARDAR FOTO</h1>
    <ion-content>
      <ion-img src="/assets/img/rostroid.png"></ion-img>
      <ion-button class="botonSig" expand="round" fill="outline"[routerLink]="['seguro-guardar-foto']" routerLinkActive="router-link-active"  >Siguiente </ion-button>
      
    </ion-content>
    
  </ion-content>