h2{
    
    color:floralwhite;
    font-size: 45px;
    
}
h3{
    
    color:floralwhite;
    font-size: 15px;
    margin:0px;
    
}


.botonUsu {
    width: 50%;
    margin-left:25%;
}


ion-content{
    --background: url(../../assets/img/fondo-2.png);
}
